.mainColor{
  background: #084F9F;
}
.tabClick{
  background: #0079CD;
}
.tab:hover{
  background:rgba(95,171,223,.3) ;
}
.container{
  width: 1200px!important;
  margin: 0 auto;
}
/*详情头部*/
.detail-title-line{
  width: 1.69rem;
  height: 0.19rem;
  background: #B21219;
  margin-top:0.69rem;
}
.detail-title-name{
  font-size: 1.375rem;
  font-weight: bold;
  line-height: 2.25rem;
  color:#333;
}
.detail-title-date{
  font-size: 1.125rem;
  font-weight: bold;
  color:#2A5AAC;
  margin-bottom: 0.75rem;
}
.detail-title{
  padding-bottom: 2.25rem;
  border-bottom: 1px dotted #eee;
  margin-bottom: 2.06rem;
}
.detail-title-source{
  font-size: 1rem;
  color:#999;
}
.dts-date{
  font-size: 1.125rem;
  margin-right:1.69rem;
  margin-top:0.75rem;
}
.detail-msg{
  width: 100%;
}
.detail-msg div,.detail-msg p{
  font-size:0.94rem;
  color:#333;
  line-height:1.56rem;
}
.detail-msg img{
  width: 100%!important;
}
.detial-fj{
  width:20.375rem;
  padding:0.81rem;
  background: #FAFAFA;
  font-size:0.875rem;
  margin: 1.875rem 0 1.875rem 0;
}
.detial-fj>div{
  vertical-align: middle;
  width: 75%;
  word-break: break-all;
}
.detial-fj>img{
  width:3.75rem!important;
  height:4rem;
  vertical-align: middle;
}
.down-fj{
  font-size:0.69rem;
  color:#2A5AAC;
  margin-top:0.5rem;
}
.detail-url{
  font-size:0.94rem;
  color:#2A5AAC;
  /*margin-bottom:1.25rem;*/
  margin-top:1.25rem;
}
.detail-title-label{
  font-size:0.82rem;
  margin-top:0.875rem;
}
.detail-title-label>span{
  display: inline-block;
  height:1.69rem;
  line-height:1.69rem;
  text-align: center;
  padding: 0 1rem;
  background: #EBF4FE;
  border-radius:0.82rem;
  color:#2A5AAC;
  margin-right:1.25rem;
}

/*结束*/
.notice-label-group{
  width: 100%;
  padding:1.31rem 0 1.31rem 2rem;
  font-size: 1.125rem;
  font-weight: bold;
  color:#2A5AAC;
  background: #EBF4FE;
  margin-bottom:2.125rem;
}
.white-space{
  color: transparent;
}
.shadow{
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  background: rgba(0,0,0,0.3);
}
@media (max-width: 900px){
  .container{
    width: 100%!important;
    padding: 0 1rem;
    box-sizing: border-box;
  }
}
@media (min-width: 1200px){
  .container{
    width: 1200px!important;
  }
}

/*兼容性处理*/
/*html {*/
  /*font-size:1rem;*/
/*}*/
/*@media screen and (min-width:320px) {*/
  /*html {font-size:0.625rem;}*/
/*}*/
/*@media screen and (min-width:400px) {*/
  /*html {font-size:0.75rem;}*/
/*}*/
/*@media screen and (min-width:480px) {*/
  /*html {font-size:0.825rem;}*/

/*}*/
/*@media screen and (min-width:560px) {*/
  /*html {font-size:1rem;}*/
/*}*/
/*@media screen and (min-width:600px) {*/
  /*html {font-size:1rem;}*/
/*}*/
/*@media screen and (min-width:640px) {*/
  /*html {font-size:1rem;}*/
/*}*/
