.mainColor{
  background: #084F9F;
}
.tabClick{
  background: #0079CD;
}
.tab:hover{
  background:rgba(95,171,223,.3) ;
}
.container{
  width: 1200px!important;
  margin: 0 auto;
}
/*详情头部*/
.detail-title-line{
  width: 27px;
  height: 3px;
  background: #B21219;
  margin-top: 11px;
}
.detail-title-name{
  font-size: 22px;
  font-weight: bold;
  line-height: 36px;
}
.detail-title-date{
  font-size: 18px;
  font-weight: bold;
  color:#2A5AAC;
  margin-bottom: 12px;
}
.detail-title{
  padding-bottom: 36px;
  border-bottom: 1px dotted #eee;
  margin-bottom: 33px;
}
.detail-title-source{
  font-size: 16px;
  color:#999;
}
.dts-date{
  font-size: 18px;
  margin-right: 27px;
  margin-top: 12px;
}
.detail-msg{
  width: 100%;
}
.detail-msg img{
  width: 100%!important;
}
.detial-fj{
  width: 326px;
  padding:13px;
  background: #FAFAFA;
  font-size: 14px;
  margin-bottom: 30px;
}
.detial-fj>div{
  vertical-align: middle;
  width: 75%;
  word-break: break-all;
}
.detial-fj>img{
  width: 60px!important;
  height: 64px;
  vertical-align: middle;
}
.down-fj{
  font-size: 11px;
  color:#2A5AAC;
  margin-top: 8px;
}
.detail-url{
  font-size: 15px;
  color:#2A5AAC;
  /*margin-bottom: 20px;*/
  margin-top: 20px;
}
.detail-title-label{
  font-size: 13px;
  margin-top: 14px;
}
.detail-title-label>span{
  display: inline-block;
  height: 27px;
  line-height: 27px;
  text-align: center;
  padding: 0 16px;
  background: #EBF4FE;
  border-radius: 13px;
  color:#2A5AAC;
  margin-right: 20px;
}

/*结束*/
.notice-label-group{
  width: 100%;
  padding:21px 0 21px 32px;
  font-size: 18px;
  font-weight: bold;
  color:#2A5AAC;
  background: #EBF4FE;
  margin-bottom: 34px;
}
.white-space{
  color: transparent;
}
.shadow{
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  background: rgba(0,0,0,0.3);
}
@media (max-width: 900px){
  .container{
    width: 100%!important;
  }
}
@media (min-width: 1200px){
  .container{
    width: 1200px!important;
  }
}
