.mainColor{
  background: #084F9F;
}
.tabClick{
  background: #0079CD;
}
.tab:hover{
  background:rgba(95,171,223,.3) ;
}
.container{
  width: 1200px!important;
  margin: 0 auto;
}
@media (max-width: 900px){
  .container{
    width: 100%!important;
  }
}
@media (min-width: 1200px){
  .container{
    width: 1200px!important;
  }
}
